/* 标签样式初始化 */
        body,html{margin:0;padding:0;background:#fff;font-size:14px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
        form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
        img{border:0;}
        ul,li{list-style-type:none;}
        a{color:#00007F;text-decoration:none;}
        a:hover{text-decoration:none;}
.page_top{
	/*border: 1px solid red;*/
	position: fixed;
	top: 0px;
	z-index: 100px;
	width: 100%;
	background: white;
}
.page_title{
	height: 80px;
	/*border: 1px solid;*/
	width: 1400px;
	margin:0 auto;

}
.page_title img{
	margin-top: 15px;
}
.test{
	display: inline-block;
	vertical-align: top;
	line-height: 80px;
	font-size: 20px;
	margin-left: 30px;
	margin-right: -20px;
}
.test1{
	display: inline-block;
	vertical-align: top;
	line-height: 80px;
	font-size: 18px;
	cursor: pointer;
	margin-left: 50px;
}
.top_right{
	float: right;
	display: inline-block;
}
.second_div{
	background: rgba(0,0,0,0.2);
    margin-top: 80px;
}
.second_div_one{
	width: 1400px;
	height: 400px;
	margin:0px auto; 
	border: 1px solid;
	
}
.div_one{
	width: 300px;
	height: 400px;
	background: lightblue;
	display: inline-block;
}
.one_left{
	background: rgba(0,0,0,0.5);
}
.one_right{
    float: right;
}
.one_left>p{
	padding-left: 50px;
	line-height: 40px;
	font-size: 18px;
	color: white;
}
.one_left>p>span{
    float: right;
    padding-right: 50px;

}
.one_left>p:hover{
	background: #36a8ff;
}
.left_side{
	width: 100px;
	position: fixed;
	left: 0px;
	top: 80px;
}
.left_side p{
	height: 50px;
	background: lightblue;
}
.left_side p:hover{
	background: yellow;
}

