body,html{margin:0;padding:0;background:#fff;font-size:14px;font-family:Arial,Helvetica,'STHeiti','Microsoft YaHei','sans-serif'}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:0;}
ul,li{list-style-type:none;}
a{color:#00007F;text-decoration:none;}
a:hover{text-decoration:none;}
.box{
	width: 100%;
	margin: 0 auto;
}
.top{
	width: 80%;
	background: rgba(0,0,0,0.7);
	padding: 20px 10%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}
.logo{
	float: left;
}
.nav{
	float: right;
	/*border: 1px solid;*/
}
.nav a{
	color: #e0e0e0;
	font-size: 20px;
	margin-left: 30px;
	line-height: 50px;
	transition: all 2s;
	
}
.nav a:hover{
	color:white;
	border-bottom:3px solid white;
	
}
.home{
	position: relative;
}
.home_p1{
	width: 100%;
}
.home_p2{
	width: 8%;
	position: absolute;
	top: 15%;
	left: 10%;
}
.main{
	text-align: center;
	margin:2px 0px;
}

.img_p{
	width: 24.2%;
	margin: 0.1%;
	position: relative;
	/*border: 1px solid;*/
	display: inline-block;
}
.img_p img{
	width: 100%;
}
.img_p p{
	color: white;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	top: 15%;
	left: 5%;
}
.img_p a{
	color: white;
	font-size: 18px;
	position: absolute;
	bottom: 15%;
	left: 5%;
	border: 1px solid white;
	padding: 5px 10px;
	border-radius: 20px;
}
.img_p a:hover{
	color: #999;
	background: white;
}
.foot{
	background: #111;
	color: #888;
	line-height: 40px;
	text-align: center;
	padding-top:60px;
	padding-bottom: 30px;
	position: relative;
}
.foot_p1{
	width: 20%;
}
.foot_p2{
	width: 8%;
	margin-top: 20px;
}
.ma{
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
}
.foot_p3:hover~.ma{
	opacity:1 ;
}
.email{
	color: #888;
	padding: 15px 0px;
	text-align: center;
	font-size: 10px;
}
@media only screen and (max-width:1000px ) {
	.img_p{
	width: 47%;
	margin: 1%;	
}
}